.env

__pycache__/
*.pyc
*.log

esphome-aurora-inverter/.esphome/
esphome-aurora-inverter/build/
esphome-aurora-inverter/.pioenvs/
esphome-aurora-inverter/.piolibdeps/
esphome-aurora-inverter/src/
esphome-aurora-inverter/managed_components/
esphome-aurora-inverter/idedata/
esphome-aurora-inverter/storage/
esphome-aurora-inverter/secrets.yaml


esphome-aurora-inverter/components/custom/*/__pycache__/
esphome-aurora-inverter/components/custom/__pycache__/



*.log
*.tmp